services:
  api:
    build:
      context: ./api
      target: dev
    ports:
      - "3000:3000"
    env_file:
      - ./api/.env
    environment:
      - PORT=3000
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./api:/app
      - api_node_modules:/app/node_modules

  frontend:
    build:
      context: ./frontend
      target: dev
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    depends_on:
      - api

volumes:
  api_node_modules:
  frontend_node_modules:

