services:
  api:
    build:
      context: ./api
      target: prod
    ports:
      - "3000:3000"
    env_file:
      - ./api/.env
    environment:
      - PORT=3000
      - NODE_ENV=production

  frontend:
    build:
      context: ./frontend
      target: prod
    ports:
      - "8080:80"
    depends_on:
      - api

